@using Microsoft.AspNetCore.Http
@{
    var user = Context.Session.GetString("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@ViewData["Title"]</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/electro-master/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/electro-master/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/electro-master/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/electro-master/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/electro-master/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/electro-master/css/style.css" />
    @await RenderSectionAsync("styles",false)

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +90-552-315-76-74</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> melikcrak40@gmail.com</a></li>
                </ul>
                <ul class="header-links pull-right">
                    @if (user != null)

                    {
                        <li><a href="/profil"><i class="fa fa-user-o"></i> Hesabım </a></li>
                    }
                    else
                    {
                        <li><a href="/user/login"><i class="fa fa-user-o"></i> Giriş </a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="/electro-master/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <a class="btn" href="/magazada-ara" style="height: 40px;background: #D10024;color: #FFF;font-weight: 700; border:none;margin-left:200px;">Mağazada Ara</a>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">

                            @if (user != null)

                            {
                                <!-- Wishlist -->
                                <div>
                                    <a href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <span>Beğeni listesi</span>
                                        <div class="qty" id="WishCount">0</div>
                                    </a>
                                </div>
                                <!-- /Wishlist -->
                                <!-- Cart -->
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Sepet</span>
                                        <div class="qty" id="CardCount"></div>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart-list"></div>
                                        <div class="cart-summary">
                                            <small></small>
                                            <h5></h5>
                                        </div>
                                        <div class="cart-btns">
                                            <a href="/sepet">Sepete Git</a>
                                            <a href="/odeme">Tamamla  <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Cart -->
                            }

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    @await Component.InvokeAsync("MainMenu")
    <!-- /NAVIGATION -->
    @RenderBody()

    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Hakkımızda</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-phone"></i>+90-552-315-76-51-</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>melikcrak40@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Kategoriler</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Linkler</h3>
                            <ul class="footer-links">
                                <li><a href="/profil">Hesabım</a></li>
                                <li><a href="/sepet">Sepetim</a></li>
                                <li><a href="#">Beğendiklerim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="/electro-master/js/jquery.min.js"></script>
    <script src="/electro-master/js/bootstrap.min.js"></script>
    <script src="/electro-master/js/slick.min.js"></script>
    <script src="/electro-master/js/nouislider.min.js"></script>
    <script src="/electro-master/js/jquery.zoom.min.js"></script>
    <script src="/electro-master/js/main.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script>
        function ListCard(){
                const CardsDiv = $(".cart-list");
                const CardSummary = $(".cart-summary small");
                const Qty = $("#CardCount");
                const CardTotal = $(".cart-summary h5");
                var cardProducts="";

                $.ajax({
                    type:"Get",
                    url:"/cards",
                    dataType:"json",
                    success:function(data){
                        var cardlist = JSON.parse(data);
                        var totalPrice = 0.00;

                        $.each(cardlist, (index, value) => {
                                cardProducts += `<div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="${value.Image}" alt="${value.Name}">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#">${value.Name}</a></h3>
                                                            <h4 class="product-price"><span class="qty">${value.Quantity} x </span>₺${value.Price}</h4>
                                                        </div>
                                                        <button class="delete" onclick="DeleteFromCard(${value.Id})"><i class="fa fa-close"></i></button>
                                                    </div>`;
                                                    totalPrice += parseFloat(value.Price) * value.Quantity;

                            });
                            CardsDiv.html(cardProducts);
                            console.log(cardlist);
                            CardSummary.html(cardlist.length + " ürün eklendi");
                            Qty.html(cardlist.length);
                            CardTotal.html("Toplam :₺" + totalPrice.toFixed(2));

                    }
                });
        }

    </script>
    @await RenderSectionAsync("scripts",false)

    <script>
        function DeleteFromCard(Id){
            $.ajax({
               type:"Get",
               url:"/card/delete/"+parseInt(Id),
               success:function(){
                   swal({
                       title:"ürün sepetten silindi",
                       icon:"success",
                       button:"Kapat"
                   });
                   ListCard();
               },
               error:function(){
                   swal({
                       title:"ürün silinemedi",
                       icon:"error",
                       button:"kapat"
                   });
               }
            });
        }

         function GetWishCount(){
            $.ajax({
                type:"Get",
                url:"/wishcount",
                datatype:"text",
                success:function(res){
                    $("#WishCount").html(res)
                }
            });
        }

        function AddToWish(id){
            $.ajax({
                type:"Get",
                url:"/addtowish/"+id,
                dataType:"text",
                success:function(cvp){
                    swal({
                        title:cvp,
                        icon:"success",
                        button:"Kapat"
                    });
                    console.log(cvp);
                    GetWishCount();
                },
                error:function(xhr,status,error){
                    var errorMessage = xhr.status+' : '+xhr.statusText;

                    if(xhr.status==404){
                        swal({
                            title:"Hata",
                            text:"Önce giriş yapın",
                            icon:"error",
                        });
                    }
                    if(xhr.status==400){
                        swal({
                            title:"Ürün zaten listede",
                            icon:"warning",
                        });
                    }


                }
            });
        }

        function DeleteFromWish(id){
            $.ajax({
                type:"Get",
                url:"/deletefromwish/"+id,
                datatype:"text",
                success:function(cvp){
                    swal({
                        title:"Silindi",
                        text:"",
                        icon:"success",
                        button:"Kapat"
                    });
                    GetWishCount();
                },
                error:function(xhr,status,error){
                    swal({
                        title:"Hata oluştu",
                        text:"",
                        icon:"error"
                    })
                }
            });
        }

        function AddToCardSingle(id){
            $.ajax({
                url:"/AddToCardSingle/"+id,
                type:"Get",
                success:function(res){
                    swal({
                        title:"Ekleme Tamam",
                        icon:"success"
                    });
                    ListCard();
                },
                error:function(){
                    swal({
                        title:"Giriş Yapmayı deneyin",
                        icon:"error"
                    })
                }
            });
        }


        $( document ).ready(function() {
            GetWishCount();
            ListCard();
        });

    </script>




</body>
</html>