@model ShopCommerce.EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Sellers/Views/Shared/_Layout.cshtml";
}
@section sellerstyles{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
}
<br /><br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/seller/addproduct" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Ürün Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bilgi</label>
                <textarea asp-for="Info" class="form-control"></textarea>
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fiyat</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisCount" class="control-label">İndirim</label>
                <input asp-for="DisCount" class="form-control" />
                <span asp-validation-for="DisCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoPrice" class="control-label">Kargo fiyatı</label>
                <input asp-for="CargoPrice" class="form-control" />
                <span asp-validation-for="CargoPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label">Stok Adedi</label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CoverPhoto" class="control-label">Kapak Görseli</label>
                <input asp-for="CoverPhoto" class="form-control" />
                <span asp-validation-for="CoverPhoto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="pImage">
                    ürün fotoğrafı ekleyin <br />
                    <button type="button" class="btn btn-primary" id="btnAddPrPhoto">Ekle</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kategori</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Marka</label>
                <select asp-for="BrandId" class ="form-control" asp-items="ViewBag.Brand"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section sellerscripts{
    <script>
        $("#btnAddPrPhoto").click(function(){
            $(".pImage").append(`<input type="file" class="form-control form-control-sm" name="ProductImages" placeholder="ürün fotoğrafı seçin."/>`);
        })
    </script>
}