@model ShopCommerce.EntityLayer.Concrete.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center">Giriş</h2>

<form action="/user/login" method="post" style="width:350px; margin:0 auto; padding:5px;">
    <div asp-validation-summary="ModelOnly"></div>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input asp-for="Mail" class="form-control" placeholder="email adresi" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="şifre" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @if (@ViewBag.mesaj != null)
    {
        <div class="alert alert-danger">
            @ViewBag.mesaj
        </div>
    }

    <button type="submit" class="btn btn-primary">Giriş</button> <a href="/user/register" class="btn btn-warning">Hesabın yok mu?</a>
</form>



@section scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}